<VirtualHost *:80>

    ServerName {{ wildfly.domain }}
    ServerAdmin  webmaster@{{ wildfly.domain }}

    Redirect permanent / https://{{ wildfly.domain }}/

</VirtualHost>

<VirtualHost *:443>

    ServerName {{ wildfly.domain }}
    ServerAdmin  webmaster@{{ wildfly.domain }}

    ProxyRequests     Off
    ProxyPreserveHost On
    AllowEncodedSlashes NoDecode
    <Proxy http://localhost:8080*>
        Order deny,allow
        Allow from all
    </Proxy>
    ProxyPass         /  http://localhost:{{ wildfly.port }}/ nocanon
    ProxyPassReverse  /  http://localhost:{{ wildfly.port }}/
    ProxyPassReverse  /  https://{{ wildfly.domain }}/
    RequestHeader set X-Forwarded-Proto "https"
    RequestHeader set X-Forwarded-Port "443"

    Include /etc/letsencrypt/options-ssl-apache.conf
    SSLCertificateFile /etc/letsencrypt/live/pinhead.cherubits.hu/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/pinhead.cherubits.hu/privkey.pem
</VirtualHost>
